* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #0B3327;
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  position: relative;
  background-color: #0B3327;
  background-image: url(../img/bg.svg);
}

body.modal-open {
  overflow: hidden;
}

main {
  position: relative;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
}

a:focus {
  outline-color: #A7782D;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

img[src*=".svg"] {
  width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

.container {
  position: relative;
  width: 1376px;
  margin: auto;
}

.section {
  padding: 50px 0;
}

.section-title {
  font-family: 'PT Sans Caption Bold', sans-serif;
  font-size: 40px;
  line-height: 1.35;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.section-subtitle {
  font-size: 25px;
}

.button {
  padding: 23px 76px;
  color: #000000;
  background-color: #A7782D;
  border-radius: 100px;
  border: none;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color .3s, -webkit-transform .3s;
  transition: color .3s, -webkit-transform .3s;
  transition: color .3s, transform .3s;
  transition: color .3s, transform .3s, -webkit-transform .3s;
}

.button:hover {
  color: #ffffff;
  -webkit-box-shadow: 0 0 30px 0 rgba(167, 120, 45, 0.7);
          box-shadow: 0 0 30px 0 rgba(167, 120, 45, 0.7);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.button:active {
  -webkit-box-shadow: 0 0 20px 0 rgba(167, 120, 45, 0.7);
          box-shadow: 0 0 20px 0 rgba(167, 120, 45, 0.7);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.button:focus {
  outline: none;
  color: #ffffff;
  -webkit-box-shadow: 0 0 20px 0 rgba(167, 120, 45, 0.7);
          box-shadow: 0 0 20px 0 rgba(167, 120, 45, 0.7);
}

.form {
  position: relative;
  max-width: 590px;
  width: 100%;
  height: auto;
}

.form__title {
  margin: auto;
  padding-bottom: 12px;
  font-family: 'PT Sans Caption Bold', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  width: 100%;
  margin: auto;
}

.form__label {
  margin-left: 24px;
}

.form__label span {
  color: #A7782D;
}

.form__input {
  padding: 0 24px;
  margin-bottom: 20px;
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 100px;
  background-color: #f7f7f7;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.69);
          box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.69);
}

.form__button {
  padding: 14px 50px;
  margin: 5px 0 7px;
}

.form__privacy {
  margin-left: 24px;
}

input {
  caret-color: #A7782D;
}

input:focus {
  outline: none;
  border: 2px solid #A7782D;
}

input::-webkit-input-placeholder {
  opacity: 0.5;
}

input:-ms-input-placeholder {
  opacity: 0.5;
}

input::-ms-input-placeholder {
  opacity: 0.5;
}

input::placeholder {
  opacity: 0.5;
}

input {
  -webkit-appearance: none;
}

input.error {
  border: 2px solid red;
}

#phone-error, #email-error, #dialog-form-phone-error, #dialog-form-email-error, #callback-form-phone-error, #callback-form-email-error, #offer-form-phone-error, #offer-form-email-error {
  position: relative;
  left: 24px;
  bottom: 20px;
  display: block;
  height: 0;
  font-size: 10px;
  color: red;
}

.menu {
  display: none;
  position: relative;
  top: 0;
  right: 0;
  z-index: 15;
  width: 43px;
  height: 43px;
}

.menu a.target-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.menu a.target-burger:hover {
  cursor: pointer;
  opacity: .7;
}

.menu a.target-burger ul.buns {
  margin: 10px;
  padding: 0;
  width: 23px;
  height: 23px;
  list-style: none;
  color: #0B3327;
  -webkit-transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.menu a.target-burger ul.buns li.bun {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #A7782D;
  -webkit-transform: translateY(-3px) translateZ(0);
          transform: translateY(-3px) translateZ(0);
  -webkit-transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
  transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
  transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
  transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms transform cubic-bezier(0.19, 1, 0.22, 1) 83ms, 500ms -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.menu a.target-burger ul.buns li.bun:last-child {
  top: 52%;
  -webkit-transform: translateY(3px) translateZ(0);
          transform: translateY(3px) translateZ(0);
}

.menu a.target-burger.toggled ul.buns li.bun {
  top: 50%;
  background-color: #A7782D !important;
  -webkit-transform: rotate(45deg) translateZ(0);
          transform: rotate(45deg) translateZ(0);
}

.menu a.target-burger.toggled ul.buns li.bun:last-child {
  -webkit-transform: rotate(-45deg) translateZ(0);
          transform: rotate(-45deg) translateZ(0);
}

.show-on-scroll {
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
}

.show-on-scroll__1 {
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}

.show-on-scroll__2 {
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

.show-on-scroll__3 {
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}

.show-on-scroll__4 {
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.show-on-scroll__5 {
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
}

.show-on-scroll__6 {
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s;
}

.show-on-scroll__7 {
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}

.show-on-scroll__8 {
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s;
}

.show-on-scroll__9 {
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.show-on-scroll__10 {
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s;
}

.is-visible {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.fancybox__content {
  border-radius: 10px !important;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1110px;
    width: 95%;
  }
  .section-title {
    font-size: 34px;
  }
  .section-subtitle {
    font-size: 18px;
  }
  .button {
    font-size: 20px;
  }
  .form__button {
    padding: 20px 30px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 950px;
  }
  .section-title {
    font-size: 30px;
  }
  .menu {
    display: block;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 800px;
    width: 90%;
  }
  .section-title {
    font-size: 24px;
  }
}

@media (max-width: 890px) {
  .section-title {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
  }
  .button {
    padding: 20px 60px;
    font-size: 16px;
  }
}

@media (max-width: 534px) {
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 20px;
  }
  .button {
    padding: 20px 38px;
    font-size: 14px;
  }
  .form__title {
    font-size: 14px;
  }
  .form__privacy {
    font-size: 12px;
    margin: auto;
  }
  .fancybox__content {
    padding: 20px !important;
  }
}

@media (max-width: 320px) {
  .button {
    padding: 20px 30px;
  }
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Black';
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

.header {
  width: 100%;
  padding: 20px 0;
  color: #ffffff;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.header-logo img {
  width: 100%;
  height: 100%;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-size: 18px;
}

.header-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  font-family: 'Montserrat Medium', sans-serif;
}

.header-email__title {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.header-email a {
  position: relative;
  color: #ffffff;
  padding-bottom: 2px;
  display: inline-block;
  text-decoration: none;
}

.header-email a:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  left: -0.025em;
  right: -0.075em;
  background: #ffffff;
  background-size: 100% 100%;
  opacity: 0;
  -webkit-transition: .3s opacity, background .3s linear .2s;
  transition: .3s opacity, background .3s linear .2s;
}

.header-email a:hover:after {
  opacity: 1;
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat Medium', sans-serif;
}

.header-phone__title {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.header-phone a {
  position: relative;
  color: #ffffff;
  padding-bottom: 2px;
  display: inline-block;
  text-decoration: none;
}

.header-phone a:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  left: -0.025em;
  right: -0.075em;
  background: #ffffff;
  background-size: 100% 100%;
  opacity: 0;
  -webkit-transition: .3s opacity, background .3s linear .2s;
  transition: .3s opacity, background .3s linear .2s;
}

.header-phone a:hover:after {
  opacity: 1;
}

.header-phone__img {
  margin-right: 12px;
  width: 16px;
  height: 20px;
}

.header-phone__img img {
  width: 100%;
  height: 100%;
}

.header-phone__tels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-phone__tel {
  color: #ffffff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header-phone__tel:first-child {
  font-family: 'Montserrat Bold', sans-serif;
}

.header-phone__tel span {
  color: #A7782D;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header-phone__tel:hover.header-phone__tel {
  color: #A7782D;
}

.header-phone__tel:hover.header-phone__tel span {
  color: #ffffff;
}

.hero {
  position: relative;
  height: 100vh;
  color: #ffffff;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-logo {
  background-color: #0B3327;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4%;
}

.hero-logo img {
  width: 330px;
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
  width: 100%;
}

.hero-text__title {
  margin-bottom: 24px;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 46px;
  line-height: 68px;
}

.hero-text__subtitle {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 22px;
  line-height: 32px;
}

.hero-arrow {
  display: block;
  margin-bottom: 5%;
}

.hero-arrow svg {
  display: block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  -webkit-animation: downarrow 1.7s infinite ease;
          animation: downarrow 1.7s infinite ease;
}

.hero-arrow svg:hover {
  opacity: .7;
}

@-webkit-keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  55% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 1920px) {
  .hero-text {
    padding: 10%;
  }
  .hero-arrow {
    margin-bottom: 10%;
  }
}

.footer {
  position: relative;
  height: 100vh;
}

.footer-block {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text {
  position: absolute;
  left: 0;
  z-index: 2;
  padding: 60px;
  max-width: 480px;
  width: 100%;
  background-color: #0B3327;
}

.footer-text__title {
  margin-bottom: 24px;
  color: #A7782D;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 40px;
  line-height: 68px;
}

.footer-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 18px;
}

.footer-email__title {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-email a {
  position: relative;
  color: #ffffff;
  padding-bottom: 2px;
  display: inline-block;
  text-decoration: none;
}

.footer-email a:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  left: -0.025em;
  right: -0.075em;
  background: #ffffff;
  background-size: 100% 100%;
  opacity: 0;
  -webkit-transition: .3s opacity, background .3s linear .2s;
  transition: .3s opacity, background .3s linear .2s;
}

.footer-email a:hover:after {
  opacity: 1;
}

.footer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 18px;
}

.footer-phone__title {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-phone a {
  position: relative;
  color: #ffffff;
  padding-bottom: 2px;
  display: inline-block;
  text-decoration: none;
}

.footer-phone a:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  left: -0.025em;
  right: -0.075em;
  background: #ffffff;
  background-size: 100% 100%;
  opacity: 0;
  -webkit-transition: .3s opacity, background .3s linear .2s;
  transition: .3s opacity, background .3s linear .2s;
}

.footer-phone a:hover:after {
  opacity: 1;
}

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 18px;
}

.footer-address__title {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-address__subtitle {
  position: relative;
  color: #ffffff;
}

#footer-map {
  position: absolute;
  left: -50vw;
  right: -50vw;
  margin: auto;
  width: 100vw;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */