*
  box-sizing: border-box    
body
  position: relative
  color: $text-color
  height: 100%
  background: $white-color
  font-family: 'Titillium Web', sans-serif
img
  max-width: 100%
main 
  position: relative
  overflow: hidden
.container
  position: relative
  width: 1410px
  margin: auto
.section
  padding: 0 0 80px
  &-title 
    font-family: 'Titillium Web', sans-serif
    font-size: 36px
    text-align: center
    margin: auto
    padding-bottom: 74px
.button 
  padding: 19px 80px
  background: linear-gradient(180deg, $main-color 0%, $second-color 96.15%);
  box-shadow: 0px 4px 25px rgba(0, 69, 150, 0.08), 0px 8px 50px rgba(0, 69, 150, 0.16);
  border-radius: 6px;
  border: none
  cursor: pointer
  transition: ease 0.3s
  &:hover
    transform: scale(1.03)
    background-color: lighten($second-color, 5%)
    box-shadow: 0 10px 30px rgba($second-color, 0.7)
  &:active
    background-color: lighten($second-color, 10%)
    transform: scale(.98)
  &:focus
    box-shadow: 0px 1px 0px $main-color, 0px -1px 0px $main-color, 1px 0px 0px $main-color, -1px 0px 0px $main-color
 
/* Стилизация полей формы */
input
  caret-color: $second-color
  &:focus
    border: 1px solid $second-color
  &::placeholder
    opacity: 0.5
input 
  -webkit-appearance: none
input.error
  border: 1px solid red
#name-error, #phone-error, #email-error, #password-error, #last_name-error, #password_conf-error, #code-error
  display: block
  font-size: 12px
  color: red

@media (max-width: 1200px)
  .container
    max-width: 760px
    width: 95%
@media (max-width: 768px)
  .container
    max-width: 580px
    width: 90%
@media (max-width: 490px)
  .button
    font-size: 14px
    padding: 20px 60px
  .section
    &-title
      font-size: 25px
      line-height: 36px
@media (max-width: 320px)
  .container
    max-width: 750px
    width: 90%