img {
	width: 250px;
}
.basket-img {
	width: 25px;
}
section#example_1 {
	height: 100vh;
	background-image: url(../img/i.jpg);
	background-size: cover;
}
section#example_2 {
	height: 100vh;
	background-image: url(../img/pattern.jpg);
	background-repeat: repeat;
}